<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SIGN UP</title>
    </head>
    <body>
        <a href='/'>LOGO</a>
        <h1>회원가입</h1>
        <span><a href="/register/stu">개인 회원</a></span>
        <span>기업 및 기관 회원</span>
        
        <form method="post" action="/process/register/biz">
            
            <h4>기관/기업 인증 정보</h4>
            <label for="bizLicenceNo">사업자등록번호</label>
            <input type="text" name="bizLicenceNo" id="bizLicenceNo">
            <button type="button" onclick="alert('Hello World!')">조회</button>
            <br>
            <label for="brandName">기관/기업명</label>
            <input type="text" name="brandName" id="brandName">
            
            <label for="repreName">대표자명</label>
            <input type="text" name="repreName" id="repreName">
            
            <label for="industry">산업구분</label>
            <input type="text" name="industry" id="industry">
            
            <h4>ID/PW</h4>
            <label for="id">아이디</label>
            <input type="text" name="id" id="id">
            <button type="button" onclick="alert('Hello World!')">중복확인</button>
            <br>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password">
            
            <label for="passwordCheck">비밀번호 확인</label>
            <input type="password" name="passwordCheck" id="passwordCheck"><br>
            <label id="pwMatchMsg"></label>

            <h4>기관/기업 담당자 정보</h4>
            <label>휴대폰 인증</label><br>
            <label>본인 인증을 해주세요</label><br>
            
            <label for="name">담당자명</label>
            <input type="text" name="name" id="name">
            
            <label for="position">직책</label>
            <input type="text" name="position" id="position">
            
            <label for="phoneNum">전화번호</label>
            <input type="text" name="phoneNum" id="phoneNum">

            <label for="email">이메일</label>
            <input type="text" name="email" id="email">

            <h3>약간동의</h3>
            <input type="submit" value="가입하기" name="">
        </form>
    </body>
    <script>
        function passwordValidate(){
            var pw = document.getElementById("password").value;
            var pwCh = document.getElementById("passwordCheck").value;
            if(pw !== pwCh){
                document.getElementById("pwMatchMsg").innerHTML = "패스워드가 일치하지 않습니다";
            }else{
                document.getElementById("pwMatchMsg").innerHTML = "패스워드가 일치합니다!";
            };
        }
    </script>
</html>
